spring:
  application:
    name: subscription-backend

  datasource:
    url: jdbc:mysql://localhost:3306/subscription_db?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: "1234"
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

server:
  port: 8080


ai:
  server:
    url: http://localhost:8000 # ?? ?? ??